# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# Exclude run-gameTestServer, but include run-gameTestServer/config/totemic-*
neoforge/run-gameTestServer/*
!neoforge/run-gameTestServer/config
neoforge/run-gameTestServer/config/*
!neoforge/run-gameTestServer/config/totemic-*
