#Constructing new MobEffects without subclassing
public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V #constructor

#Cleansing Ceremony
public net.minecraft.world.entity.monster.ZombieVillager startConverting(Ljava/util/UUID;I)V

#Ocelot Totem Effect
public net.minecraft.world.entity.monster.Creeper swell

#MixinItemStackComponentizationFix
public net.minecraft.util.datafix.fixes.ItemStackComponentizationFix$ItemStackData
