#Setting flammability for blocks
public net.minecraft.world.level.block.FireBlock setFlammable(Lnet/minecraft/world/level/block/Block;II)V

#Adding valid blocks to Sign block entity type
public-f net.minecraft.world.level.block.entity.BlockEntityType validBlocks

#Constructing new MobEffects without subclassing
public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V #constructor

#Cleansing Ceremony
public net.minecraft.world.entity.monster.ZombieVillager startConverting(Ljava/util/UUID;I)V

#Ocelot Totem Effect
public net.minecraft.world.entity.monster.Creeper swell

#For TotemicRecipeProvider
protected net.minecraft.data.recipes.RecipeProvider inventoryTrigger([Lnet/minecraft/advancements/critereon/ItemPredicate;)Lnet/minecraft/advancements/Criterion;
protected net.minecraft.data.recipes.RecipeProvider simpleCookingRecipe(Lnet/minecraft/data/recipes/RecipeOutput;Ljava/lang/String;Lnet/minecraft/world/item/crafting/RecipeSerializer;ILnet/minecraft/world/level/ItemLike;Lnet/minecraft/world/level/ItemLike;F)V
